# bd paulabot
VITE_SUPABASE_URL=https://avvoipuejjzikspdfjio.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2dm9pcHVlamp6aWtzcGRmamlvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzE1MjI3MiwiZXhwIjoyMTAyNzI4MjcyfQ.MSQsNaStixf5C4CDOq1XJ9n6_GyMNQLmtvN4noft0m8


PORT=3000
ADMIN_API_KEY=admin_spa_123
EVOLUTION_API_URL=http://evolution:8080
EVOLUTION_API_KEY=evo_clave_secreta_123
EVOLUTION_INSTANCE_NAME=spa-angel-nails

FRONTEND_ORIGINS=http://localhost:5757,https://angelnailsagenda.netlify.app
WHATSAPP_ADMIN_USER_ID=67e0d909-0562-4e7b-942d-65cdad5c0840
